/*----------------------------------------------------------*/
//---------------------HEADER--------------------
header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 101;

  .upper-nav, .navbar {
    padding: .5rem 2rem;
  }

  .upper-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;

      li {
        margin-#{$left}: 20px;

        .login-register {
          background-color: transparent;
          color: $main-clr;
          font-size: $med-fontSize;
          padding: 0.175rem 0.5em;
          box-shadow: none;
        }

        .dropdown {
          button.btn {
            background-color: transparent;
            padding: 0;
            box-shadow: none;
            color: $main-clr;
          }
        }

        .dropdown-toggle {
          padding-#{$right}: 10px !important;

          &:after {
            display: none;
          }

          &:before {
            content: '\f107';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            color: $main-clr;
            position: absolute;
            #{$left}: calc(100% - 10px);
            top: 50%;
            @include translateY(-50%);
          }
        }

        .notification-alert, .message-alert {
          .dropdown-toggle {
            padding: 0 !important;

            &:after {
              display: none;
            }

            &:before {
              display: none;
            }
          }

          button.btn {
            position: relative;

            span {
              width: 15px;
              height: 20px;
              background-color: #fe4942;
              @include border-radius(4px);
              position: absolute;
              top: 0;
              right: -5px;
              padding-left: 3px;
              padding-bottom: 3px;
              color: #fff;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }

  .navbar {
    justify-content: flex-end;
    .navbar-nav {
      .nav-item {
        margin-#{$right}: 30px;
        .nav-link {
          color: #fff;
          text-transform: uppercase;
          font-family: $blackFont;
          letter-spacing: $letter-spacing;
          font-size: $header-fontSize;
        }
        position: relative;
        &:after {
          content: '~';
          color: #fff;
          position: absolute;
          #{$left}: calc(100% + 15px);
          top: 50%;
          @include translate(-50% , -50%);
          font-size: 16px;
          line-height: 0.5;
        }

        &:last-child {
          margin: 0;
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .navbar-brand {
    margin-#{$right}: auto;

    > img {
      max-height: 110px;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .sel {
    margin: 0;

    .select2-container {
      width: 100% !important;
      margin-bottom: 0;
    }

    .select2-container--default {
      .select2-selection--single {
        background-color: transparent;
        border-radius: 0;
        height: 36px;
        box-shadow: none;

        .select2-selection__rendered {
          color: $main-clr;
          font-family: $blackFont;
          font-size: $header-fontSize;
          line-height: 36px;
          letter-spacing: $letter-spacing03;
        }

        .select2-selection__arrow {
          height: 34px;
          #{$right}: 0;
        }
      }

      &.select2-container--open {
        .select2-selection--single {
          .select2-selection__arrow {
            b {
              transition: 0.7s;

              &:after {
                content: '\f106';
              }
            }
          }
        }
      }
    }
  }
}

//----HEADER-SEL-DROPDOWN----
.header-select.select2-dropdown {
  top: 13px !important;
}

/*
--------------------------
*/
//----dropdowns---------------------------------------------
.dropdown-menu {
  border: none;
  @include border-radius(10px);
  background: #333;
  padding-bottom: 0;
  transform: translate3d(0, 0, 0) !important;
  top: 100% !important;
  margin: 0;
  #{$left}: auto !important;
  #{$right}: -50% !important;

  &:before {
    content: ' ';
    position: absolute;
    #{$right}: 10px;
    bottom: 100%;
    border-bottom: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: block;
  }
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .drop-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    @include border-radius(50%);
    margin-#{$right}: 15px;

    img {
      max-height: 100%;
    }
  }

  h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: $small-font;
    margin: 0;
    letter-spacing: $letter-spacing04;
    font-family: $headingFont;
  }

  a {
    color: #fff;
    font-size: $med-fontSize;
  }
}

.message-alert, .notification-alert {
  .dropdown-item {
    border-radius: 0 !important;
  }
}

.dropdown-item {
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  text-transform: capitalize;

  &:last-of-type {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-top: 1px solid #4484c5;
    border-bottom: 1px solid #4484c5;
    color: #fff;
  }

  .drop-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    @include border-radius(50%);
    margin-#{$right}: 15px;

    img {
      max-height: 100%;
    }
  }

  .drop-bio {
    p {
      margin: 0;
      font-size: $small-font;

      strong {
        color: #fff;
        text-transform: capitalize;
        margin-#{$right}: 5px;
      }
    }

    .notify-time {
      font-size: 12px;
    }
  }
}

.dropdown-footer {
  a {
    background: $main-clr;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-family: $headingFont;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-transform: capitalize;
  }
}

//-----------END OF DROPDOWNS-----------------------


//--------------navbar-toggler-----------------------
.navbar-toggler {
  #{$right}:0;
  @include transition(all);
  span {
    color: $main-clr;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
  }
}

/*----------------------------------------------------------*/
//---------------------FOOTER--------------------
footer {
  background: $footer-clr;
  padding-top: 120px;
  position: relative;
  z-index: -2;
  margin-top: -50px;

  .search-cloud {
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    overflow-x: hidden;

    img {
      min-width: 100%;
    }
  }

  .footer-ads {
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  form {
    input.form-control {
      background-color: #c7c7c7;
    }

    button.btn {
      padding: 10px 60px;
    }
  }

  .copyrights {
    background-color: $main-clr;
    padding: 20px 15px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    text-transform: capitalize;
    a {
      color: $second-clr;
      &:hover{
        color: $second-clr;
      }
    }
  }

  .heading {
    margin-bottom: 15px;
  }

  ul {
    column-count: 2;

    li {
      margin-bottom: 20px;
    }
  }

  a {
    color: $mainFont-clr;
    text-transform: capitalize;
    font-size: $small-font;

    &:hover {
      color: $mainFont-clr;
    }

    &:before {
      display: none;
      content: $chevron-right;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $main-clr;
      font-size: 10px;
      margin-#{$right}: 10px;
    }
  }
}


/*----------------------------------------------------------*/
//------------------Search-BOX-STYLE-------------------
.search-back.small-search {
  height: auto;
  padding: 200px 0;
}

.search-back {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: url('../images/login-cloud.png');
    position: absolute;
    top: -160px;
    #{$right}: -160px;
    #{$left}: auto;
    bottom: auto;
    display: block;
    z-index: 10;
    animation: cloudMovement infinite 15s;
  }

  &:before {
    content: '';
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0.98) 10%,
            rgba(255, 255, 255, 0.7) 25%,
            rgba(255, 255, 255, 0.2) 45%,
            rgba(255, 255, 255, 0.05) 55%,
            rgba(255, 255, 255, 0) 65%);
    display: block;
    height: 100%;
    width: 70vw;
    position: absolute;
    #{$left}: 0;
    #{$right}: auto;
    top: 0;
    z-index: 1;
    transform: rotateY($rotate180deg);
  }

  .search-cloud {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 20;
    @include translate(0, -50%);

    img {
      position: relative;
      left: 50%;
      @include translate(-50%, 0)
    }

    &:nth-child(2) {
      //margin-top: 50px;
      //--new
      left: -10%;
      right: -10%;
      width: 120%;
      //--
      img {
        //width: 125%;
        //left: -50%;
        //@include translate(50%, 0)
        //--new
        width: 100%;
        left: 0;
        right: 0;
        @include translate(0, 0);

      }
    }

    &:first-child {
      animation: move-1 infinite 310s;
      @include translate(-25%, -50%);
    }

    &:last-child {
      margin-top: 25px;
      animation: move-2 infinite 250s;
      @include translate(50%, -50%);
    }
  }

  .black-overlay {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    z-index: 0;
  }

  .rent-search {
    position: relative;
    z-index: 100;
    width: 100%;

    .search-heading {
      text-transform: capitalize;
      font-family: $blackFont;
      font-size: 48px;
      text-align: center;
      color: #fff;
      user-select: none;
      letter-spacing: $letter-spacing02;
      margin-bottom: 25px;
    }

    .dark-form {
      background: rgba(255, 255, 255, 0.6);
      border-radius: 10px;
      padding: 40px 90px;

      .date-form {
        margin-bottom: 25px;

        input[name="value_from_start_date"] {
          border-bottom-#{$right}-radius: 0;
          border-top-#{$right}-radius: 0;
          border-#{$right}: 1px solid rgba(255, 255, 255, 0.2);
        }

        input[name="value_from_end_date"] {
          border-bottom-#{$left}-radius: 0;
          border-top-#{$left}-radius: 0;
          border-#{$left}: 1px solid rgba(255, 255, 255, 0.2);
        }

        input {
          background-color: $selSearch-clr;
          border-radius: 10px;
          border: none;
          height: 40px;
          color: $selSearchFont-clr;
          text-transform: capitalize;
          padding: 8px 15px;
          width: 50%;

          &::placeholder {
            color: $selSearchFont-clr;
            opacity: 1;
          }
        }
      }

      .search-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        button.btn {
          width: 100%;
        }
      }
    }
  }

  .sel {
    margin: 0;

    .select2-container--default {

      .select2-selection--single {
        background-color: $selSearch-clr;
        height: 40px;

        .select2-selection__rendered {
          color: $selSearchFont-clr;
          line-height: 40px;
        }

        .select2-selection__arrow {
          height: 40px;

          b {
            &:after {
              color: $selSearchFont-clr;
            }
          }
        }
      }
    }

    .select2-container--open {
      .select2-selection--single {
        background-color: $mainFont-clr;
      }
    }

    .select2-container {
      margin-bottom: 25px;
    }
  }
}

//----Search-BOX-SEL-DROPDOWN----
.header-select.select2-dropdown {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;

  .select2-results {
    //text-align: left;
    > .select2-results__options{
      .select2-results__option{
        //width: calc(100% + 17px);
      }
    }
  }
}

.search-select.select2-dropdown, .header-select.select2-dropdown {
  top: 0;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0;
  background-color: $mainFont-clr;
  //padding-top: 5px;
  overflow: hidden;

  &:before {
    content: ' ';
    position: absolute;
    #{$right}: 10px;
    bottom: 100%;
    border-bottom: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: block;
  }

  .select2-results {
    //width: calc(100% + 17px);
    > .select2-results__options{
      //overflow: hidden;
      //overflow-y: auto;
      //width: 100%;
      .select2-results__option{
        //padding-right: calc(17px + 6px);
      }
    }
  }
}



.select2-container--open .search-select.select2-dropdown--above {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .select2-results__option--highlighted[aria-selected] {
    &:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}

.search-select .select2-results__option, .header-select .select2-results__option {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.5);

  &:last-child {
    border: none;
  }
}

.select2-container--default .search-select, .select2-container--default .header-select {
  .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-top: 1px solid #4484c5;
    border-bottom: 1px solid #4484c5;

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .select2-results__option[aria-selected=true] {
    background-color: #dfdfdf;
  }
}

.select2-container--default .search-select .select2-results__option[aria-selected=true], .select2-container--default .header-select .select2-results__option[aria-selected=true] {
  background-color: transparent;
}
