/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1366px) {
  /*--------------------------------------------------------------------*/
  .container {
    max-width: 1200px;
  }
}

/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1600px) {
  /*--------------------------------------------------------------------*/
  .container {
    max-width: 1400px;
  }
}

/*--------------------------------------------------------------------*/
@media only screen and (min-width: 1900px) {
  /*--------------------------------------------------------------------*/
  .container {
    max-width: 1600px;
  }
}

/*-*************************************************************************************************-*/
/* only  microsoft browser */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}

@supports (-ms-accelerator:true) {

}

/*-*************************************************************************************************-*/


// x-Large devices ( less than 1400px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1400px) {
  /*--------------------------------------------------------------------*/

}

/*--------------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
  /*--------------------------------------------------------------------*/
  header {
    .upper-nav, .navbar {
      padding: 0 1rem;
    }
  }


  .header-select.select2-dropdown{
    top: 5px !important;
  }
}

// Large devices (desktops, less than 1200px)
/*------------------------------------------------------------------*/
@media only screen and (max-width: 1199.98px) {
  /*------------------------------------------------------------------*/
  header {
    .navbar {
      .navbar-nav {
        .nav-item {
          margin-#{$right}: 15px;

          .nav-link {
            &:after {
              #{$right}: -15px
            }
          }
        }
      }
    }

    .navbar-brand {
      //position: absolute;
      //left:2rem;
      //top: -50px;
      img {
        max-height: 90px;
      }
    }
  }

  .featured {
    .img {
      display: none;
    }
  }
  .registratins {
    .registration-half {
      width: 60vw;

      .login-page-cloud {
        #{$left}: 40%
      }
    }
  }

	.property-page .property-description .property-block .calendar-data {
		margin-top: 15px;
	}
}

// Medium devices (tablets, less than 992px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 991.98px) {
  /*--------------------------------------------------------------------*/
  header {
    padding: 0.75rem 0 0 0;
    background: linear-gradient(to bottom, #fff 10%, transparent);
    //&:after{
    //  content: url('../images/search-cloud.png');
    //  height: 150%;
    //  width: 100%;
    //  position: absolute;
    //  top: 0;
    //  z-index: 1;
    //  @include translate(-50%, -100%);
    //  animation: cloudResponsive infinite 15s;
    //}

    .upper-nav {
      position: relative;
      z-index: 3;
      ul {
        li {
          margin-#{$left}: 5px;

          span {
            font-size: 14px;
          }
        }
      }
    }

    .navbar {
      width: 100%;
      //z-index: 2;
      .navbar-nav {
        margin: 0 auto;
        padding-top: 8px;
        padding-bottom: 10px;
        margin-top: 8px;
        z-index: 2;
        .nav-item {
          margin: 0;
          padding: 15px;
          &:after{
            left: auto;
            right: auto;
            top:100%;
            color: #000;
          }
          .nav-link {
            padding-top: 8px;
            padding-bottom: 8px;
            color: $mainFont-clr;
          }
        }
      }
    }
    .navbar-toggler{
      position: absolute;
      z-index: 2;
      bottom: auto;
      top: 0;
      &:not(.collapsed){
        //#{$right}: 40px;
        .fa-bars{
          //&:before{
          //  content: "\f057";
          //  font-weight: 400;
          //  font-size: 30px;
          //  transform: rotate(-90deg);
          //}
        }
      }
    }
    .navbar-collapse{
      background-image: linear-gradient(to top, $footer-clr, #fff);
      text-align: center;
      position: fixed;
      height: 0;
      width: 100%;
      top: -100%;
      left: 0;
      z-index: 9999;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include transition(all);
      &:after{
        content: url("../images/footer-cloud02.png");
        position: absolute;
        bottom: 10%;
        height: 30%;
        animation: cloudMovement infinite 15s;
      }
      &.collapsing{
        height: 30%;
        top: -70%;
      }
      &.show{
        height: 100%;
        top: 0;
        .navbar-toggler{
          top: 10px;
          #{$right}: 10px;
          i{
            color: $main-clr;
            font-size: $internals-heading;
          }
        }
      }
    }
    .navbar-brand {
      //position: absolute;
      //left:1rem;
      //top: -50px;
      img {
        max-height: 75px;
      }
    }
  }
  .search-back {
    height: auto;
    padding: 40px 30px 200px;

    .rent-search {
      .dark-form {
        padding: 30px 40px;
      }

      .search-heading {
        margin-bottom: 15px;
        font-size: 36px;
        letter-spacing: $letter-spacing;
      }
    }

    &:before {
      width: 100%;
    }

    &:after {
      display: none;
    }
  }
  .properties {
    padding-top: 0;
  }
  footer {
    .search-cloud {
      padding-top: 0;
    }
  }
  .registratins {
    .registration-half {
      width: 100vw;
      background-color: rgba(255, 255, 255, 0.8);

      .login-page-cloud {
        display: none;
      }
    }
  }
  .profile-pages {
    .container {
      display: block;

      aside {
        width: 100%;
        margin-bottom: 30px;

        .profile-links {
          ul {
            column-count: 2;
          }
        }
      }

      .profile-content {
        width: 100%;
      }
    }
  }
  .property-page {
    .details-content {
      display: block;

      .content-side {
        width: 100%;
        margin: 0;
      }
    }

    .property-description {
      .property-block {
        .comments-wrapper {
          form {
            width: 100%;
          }
        }
      }
    }
  }
  .any-aside {
    width: 100%;
    display: block;
    .block-aside {
      width: 100%;
    }
  }
  .about-us {
    .about-us-block {
      .our-team {
        justify-content: space-around;

        .team-member {
          width: 33%;
        }
      }
    }
  }
  .check-square {
    width: 50%;
    padding-#{$right}: 15px;
    float: $left;
  }
  .profile-pages aside.profile-breadcrumb .upload-pic .filupp .account-pic{
    width: 170px;
    height: 170px;
  }
  .profile-pages .profile-content .internals-title{
    font-size: 24px;
  }
  .advanced{
    margin-bottom: 20px;
  }
  .property-page .details-content .content-side{
    margin-bottom: 30px;
  }
  .gallery-slider .carousel-item{
    height: auto;
    padding-top: 120%;
  }
}


// Small devices (landscape phones, less than 768px)
/*--------------------------------------------------------------------*/
@media only screen and (max-width: 767.98px) {
  /*--------------------------------------------------------------------*/
  header {
    .upper-nav {
      ul {
        position: relative;
        flex-wrap: wrap;
        //li{
        //	&:last-child{
        //		position: absolute;
        //		#{$right}:65px;
        //		top: 100%;
        //		@include translate(0,25%)
        //	}
        //}
      }
    }
  }
  .featured {
    .featured-property {
      padding-top: 50%;
    }
  }
  .registratins {
    .registration-half {
      .register-content {
        width: 90%;
      }
    }
  }
  .profile-pages {
    .container {
      display: block;

      //aside {
      //  //width: 100%;
      //  //margin-bottom: 20px;
      //  //padding: 30px 20px !important;
      //
      //  .upload-pic {
      //    //top: 50% !important;
      //    //left: 20px;
      //    //@include translate(0, -50%);
      //  }
      //
      //  .profile-links {
      //    ul {
      //      //column-count: 1;
      //      //width: 50%;
      //      //margin-#{$left}: auto;
      //    }
      //  }
      //}

      .profile-content {
        width: 100%;
      }
    }
  }
  .about-us {
    .about-us-block {
      .our-team {
        .team-member {
          width: 50%;
        }
      }
    }
  }
  .faq .vertical-line{
    display: none;
  }
  .columns{
    width: 100%;
    margin-#{$right}:0;
    float: none;
  }
  .featured {
    .carousel-indicators {
      li{
        .featured-property{
          padding-top: 100%;
          margin: 0;
        }
        .heading, .price{
          display: none;
        }
      }
    }
  }
  footer .copyrights{
    font-size: 12px;
    padding: 10px;
  }
  .apps{
    h1{
      font-size: 1.5rem;
    }
  }
  .message-container{
    #{$left}: auto;
    max-width: 70%;
  }
  .property-page .property-description .property-block .calendar-picker .embedded-daterangepicker .daterangepicker{
    display: flex !important;
    overflow-x: scroll;
  }
  .property-page .property-description .property-block .calendar-picker .embedded-daterangepicker .daterangepicker .drp-calendar{
    margin-#{$right}: 15px;
    width: 100%;
    max-width: 100%;
    &:last-child{
      margin: 0;
    }
  }
  .search-result {
    .search-block{
      padding: 0;
      padding-top: 200px;
      .search-img{
        top: 0;
        bottom: auto;
        height: 200px;
        width: 100%;
        -webkit-border-top-#{$left}-radius: 10px;
        border-top-#{$left}-radius: 10px;
        -webkit-border-top-#{$right}-radius: 10px;
        border-top-#{$right}-radius: 10px;
        -webkit-border-bottom-#{$left}-radius: 0;
        border-bottom-#{$left}-radius: 0;
        img{
          height: auto;
          width: 100%;
        }
      }
    }
  }
  .featured {
    .title{
      margin-bottom: 20px;
    }
    .bio{
      height: calc(3 * 30px);
      line-height: 30px;
    }
  }
}


/*-*************************************************************************************************-*/
/*if section full screen*/
/*--------------------------------------------------------------------*/
@media only screen and (max-height: 900px) {
  /*--------------------------------------------------------------------*/
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 768px) {
  /*--------------------------------------------------------------------*/

}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 640px) {
  /*--------------------------------------------------------------------*/
}


/*--------------------------------------------------------------------*/
@media only screen and (max-height: 600px) {
  /*--------------------------------------------------------------------*/
}

/*-*************************************************************************************************-*/


// Extra small devices (portrait phones, less than 576px)
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 575.98px) {
  /*--------------------------------------------------------------------*/
  .featured {
    .carousel-indicators {
      .col-sm-4 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
  .registratins {
    .registration-half {
      form {
        .space {
          flex-direction: column;
        }
      }
    }
  }

  .check-square {
    width: 100%;
    padding-#{$right}: 0px;
    float: none;
  }
  .apps .btn{
    margin: 0;
    width: 50%;
    font-size: 10px;
    padding: 0;
  }
  .search-back .rent-search .search-heading{
    font-size: 24px;
  }
  .search-back .rent-search .dark-form{
    padding: 20px;
  }
  .featured {
    .featured-property{
      padding-top: 70%;
    }
    .carousel-indicators {
      li{
        .featured-property{
          padding-top: 150%;
        }
      }
    }
  }
  .search-back{
    padding: 40px 0 200px;
  }
  .message-container{
    #{$left}:30px;
    max-width: 100%;
  }
  .profile-pages .container aside .profile-links ul{
    column-count: 1;
    text-align: center;
  }
  .property-page .nav-tabs .nav-item .nav-link{
    min-width: 95px;
    font-size: 14px;
  }
  .any-aside .block-aside .block-aside-bg ul li .items .table-img{
    width: 85px;
    margin-#{$right}: 10px;
  }
  .any-aside .block-aside .block-aside-bg ul li .items .table-bio{
    width: calc(100% - 85px - 10px);
  }
  .property-page .property-description .property-block .heading-views{
    flex-wrap: wrap;
    >*{
      width: 100%;
      margin-bottom: 10px !important;
      &:last-child{
        margin-bottom: 0!important;
      }
    }
  }
}


/*----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  /*--------------------------------------------------------------------*/


}


/*  Extra Small Devices, Phones
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 360px) {
  /*--------------------------------------------------------------------*/
  .message-container{
    #{$left}:15px;
    #{$right}:15px;
  }
  .the-message{
    padding: 5px;
  }
}



