@import "_variables";
@import "_mixins";
@import "_partials";
@import "_animation";
@import "_general";
@import "_header-footer";
@import "_main";
@import "_responsive";
///////////////////////////////////////////////

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../webfonts/Raleway-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('../webfonts/Raleway-Light.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../webfonts/Raleway-Bold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('../webfonts/Raleway-SemiBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Black';
  src: url('../webfonts/Raleway-Black.ttf');
  font-style: normal;
}
//-----------------arabic
@font-face {
  font-family: 'Changa-Regular';
  src: url('../webfonts/Changa-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Changa-Light';
  src: url('../webfonts/Changa-Light.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Changa-Bold';
  src: url('../webfonts/Changa-Bold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Changa-SemiBold';
  src: url('../webfonts/Changa-SemiBold.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Changa-ExtraBold';
  src: url('../webfonts/Changa-ExtraBold.ttf');
  font-style: normal;
}